form(action="/movie/create" method="POST")
    label id
    input(type="text" name="id")
    label name
    input(type="text" name="name")
    label rating
    input(type="text" name="rating")
    label isLove
    input(type="text" name="isLove")
    button Add