h2 Upload and Download Files Using express module
a(href="/upload") Upload
br
a(href="/download") Download
h2 Upload and Download File Using fs module
a(href="/fsupload") Upload
br
a(href="/fsdownload") Download
script(src='/reload/reload.js')